
<table width="100%" cellpadding="5" cellspacing="0">
    <tr>
        <td></td>
        <td align="left" style="vertical-align: top;" id="com_data">
            @Html.Raw(ViewBag.ComData)
        </td>
        <td align="left" style="vertical-align: top;" id="com_data1">
            @Html.Raw(ViewBag.ComData1)
        </td>
        <td></td>
    </tr>
</table>
