
@{
    ViewBag.Title = "Terms & Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="header_title">Terms & Conditions</h3>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Terms & Conditions </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="inner-grid">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-xs-12">
                <div class="about-text">

                    <p>The analytical data/spectra /information is provided only for Research & Development activity. These can't be used as certificates in legal disputes.</p>


                </div>
            </div>

        </div>
    </div>
</section>


