<div class="row">
    <div class="col-md-7 col-xs-12">
        <div class="wel-content">
            <div class="about-border">
                <h2><span>Plant Metabolites Database</span></h2>

                @*<p>A library of the MS/MS spectrum of naturally occurring compounds (Natural products). This is Designed and Developed by CSIR - Central Drug Research Institute, U.P., India. The analytical data/spectra /information is provided only for Research & Development activity. These can't be used as certificates in legal disputes.</p>*@
                <p>Plant secondary metabolite is a generic term used for more than 30,000 different substances which are produced by plants and not directly involved in the normal growth, development or reproduction of plants. These have a considerable impact on human health as medicines and recreational drugs.</p>
            </div>
            <a href="@Url.Action("Index", "Overview")" class="wel-readmore" style="width:180px;">Know More</a>
        </div>
    </div>
    <div class="col-md-5 col-xs-12">
        <div id="slide" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner about-slide">
                <!-- <div class="carousel-item active"> <img src="~/Content/images/slide1.png" alt="" class="d-block"></div> -->
                <!-- <div class="carousel-item"> <img src="~/Content/images/slide2.png" alt="" class="d-block"></div>  -->
                <div class="carousel-item active">
                    <div class="img-container">
                        <img alt="" src="~/Content/images/slide1.png">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-container">
                        <img alt="" src="~/Content/images/slide2.png">
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="img-container">
                        <img alt="" src="~/Content/images/slide3.png">
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="img-container">
                        <img alt="" src="~/Content/images/slide4.png">
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="img-container">
                        <img alt="" src="~/Content/images/slide5.png">
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="img-container">
                        <img alt="" src="~/Content/images/slide6.png">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-container">
                        <img alt="" src="~/Content/images/slide7.png">
                    </div>
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev slide-control-prev" type="button" data-bs-target="#slide" data-bs-slide="prev">
                <span class="carousel-control-prev-icon slide-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next slide-control-next" type="button" data-bs-target="#slide" data-bs-slide="next">
                <span class="carousel-control-next-icon slide-control-next-icon"></span>
            </button>
        </div>
    </div>
</div>
