
<div class="col-md-3 col-12">
    <div class="text-center">
        <div class="centres-border gen-search">
            <h2><b>General Search</b> <span></span> </h2>
        </div>
    </div>
    <a href="@Url.Action("Index", "GeneralSearch")" class="recentlaunched" style="width:100%">
        <img class="card3" src="~/Content/images/name-icon.png" alt="">
        <div class="card2">
            <h2>Name of plant species </h2>
        </div>
    </a>

    <a href="@Url.Action("Index", "GeneralSearch")" class="recentlaunched" style="width:100%">
        <img class="card3" src="~/Content/images/cas-icon.png" alt="">
        <div class="card2">
            <h2>Family of plant species </h2>
        </div>
    </a>

    <a href="@Url.Action("Index", "GeneralSearch")" class="recentlaunched" style="width:100%">
        <img class="card3" src="~/Content/images/cas-icon.png" alt="">
        <div class="card2">
            <h2>Specific biological activity </h2>
        </div>
    </a>
</div>