<div class="col-md-8 col-12">
    <div class="text-center">
        <div class="centres-border gen-search">
            <h2><b>MS Based Search</b> <span></span> </h2>
        </div>
    </div>

    <a href="@Url.Action("Index", "MolecularWeight")" class="recentlaunched">
        <img class="card3" src="~/Content/images/molecular-icon.png" alt="">
        <div class="card2">
            <h2>
                Molecular
                Weight
            </h2>
        </div>
    </a>

    @*<a href="@Url.Action("Index", "ChemicalFormula")" class="recentlaunched">
        <img class="card3" src="~/Content/images/molecular-icon.png" alt="">
        <div class="card2">
            <h2>Chemical Formula</h2>
        </div>
    </a>*@

    <a href="@Url.Action("Index", "MSSearch")" class="recentlaunched">
        <img class="card3" src="~/Content/images/ms-icon.png" alt="">
        <div class="card2">
            <h2>
                MS/MS Ion
                Search
            </h2>
        </div>
    </a>

    <a href="@Url.Action("Index", "AdvancedSearch")" class="recentlaunched">
        <img class="card3" src="~/Content/images/advanced-icon.png" alt="">
        <div class="card2">
            <h2>
                Advanced
                Search
            </h2>
        </div>
    </a>
</div>
