@model PlantMetabolitesDB.ViewModel.MS2MassSpectraViewModel

<div class="mb-2">
    <h5>Add MS2 Mass Spectra</h5>
    <hr class="mt-0 mb-0" />
</div>

<div class="row ms2AddEdit">
    @{
        Html.RenderPartial("_AddEditMS2MassSpectra", Model);
    }
</div>

<div class="col-12 mt-4">
    <h5>MS2 Mass Spectra List</h5>
</div>

<div class="row ms2list">
</div>

<script>
    var databasekey = '@ViewBag.DatabaseKey';
</script>

