@model PlantMetabolitesDB.ViewModel.MS3MassSpectraViewModel

<div class="mb-2">
    <h5>Add MS3 Mass Spectra</h5>
    <hr class="mt-0 mb-0" />
</div>

<div class="row ms3AddEdit">
    @{
        Html.RenderPartial("_AddEditMS3MassSpectra", Model);
    }
</div>

<div class="col-12 mt-4">
    <h5>MS3 Mass Spectra List</h5>
</div>

<div class="row ms3list">
</div>

<script>
    var databasekey = '@ViewBag.DatabaseKey';
</script>

