
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="header_title">Privacy Policy</h3>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Privacy Policy </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="inner-grid">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-xs-12">
                <div class="about-text">

                    <p class="text-center" style="    font-size: 30px;
    line-height: normal;">
                        <img src="https://img.freepik.com/free-vector/construction-concept-illustration_114360-1718.jpg?w=2000" style="width:30%; display:block; margin:auto;"><br>
                        Under Construction This Page
                    </p>


                </div>
            </div>

        </div>
    </div>
</section>

